@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

h3 {
    color: white;
    font-size: 50px;
  top: 100px;
}



body { 

text-align: center;

background-image: url("https://drive.google.com/uc?export=view&id=1uNJ8c6w54wDHDpqtz7mnNAmJNejLwC68");

background-size: cover;



}

p {

    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;

    font-size: 23px;

}

